<table border="2">
    {{#each data}}
    <tr>
        <td> {{this.id}} </td>
        <td> {{this.title}} </td>
        <td> {{this.Content}} </td>
        <td> {{this.type}} </td>
    </tr>
    {{/each}}
</table>