 <section id="addTask" class="container border border-2 my-3">
        <form class="p-2">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Task ID</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Task ID">
              </div>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Task Title</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Task title">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Task Content</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Task Content">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Task Type</label>
                <select class="form-control">
                    <option>type 1</option>
                    <option>type 2</option>
                    <option>type 3</option>

                </select>
              </div>
                  <button type="submit" class="btn btn-success">Add Task"</button>

        </form>
    </section>